<ion-view>
  <ion-content>
    <h1 class="titulo">Escanear</h1>
    <button class="button button-full button-assertive" ng-click="tomarFoto()">
      Escanear Ticket
    </button>
    <button class="button button-full button-assertive" ng-click="choosePhoto()">
      Elegir foto
    </button>
    <input id="fichero" type="file"/>
    <img id="escaner" ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
    <canvas id="canvasAux" width="500px" height="400px" ng-show="imgURI !== undefined"></canvas>
    <!--
    <button ng-click="tratarImagen(brillo, contraste, exposicion)">Cambiar</button>
    <br />
    Brillo
    <input type="number" style="border:1px solid" ng-model="brillo" />
    <br />
    Contraste
    <input type="number" style="border:1px solid" ng-model="contraste" />
    <br />
    Exposición
    <input type="number" style="border:1px solid" ng-model="exposicion" />
    <br />
    -->
    <p>Threshold<input type="number" style="border:1px solid" ng-model="threshold" /></p>
    <button class="button button-full button-assertive" ng-click="aplicarThreshold(threshold)">Aplicar threshold</button>
    <button class="button button-full button-assertive" ng-click="reset()">Resetear imagen</button>
    <button class="button button-full button-assertive" ng-click="capturarTexto()">Leer imagen</button>
    <div class="backgroundPopup" ng-show="mostrarPopup">
      <div class="popup" ng-show="mostrarPopup">
        <h2>Líneas del ticket</h2>
        <p><i ng-click='mostrarAyuda()' class='ayuda fa fa-question-circle'></i></p>
        <div id="popContenido"></div>
        <button id="cancelarTicket" class="cancelar" ng-click="cerrarPopup()">Cancelar</button>
        <button id="aceptarTicket" class="aceptar" ng-click="tratarDatos()">Aceptar</button>
      </div>
    </div>
  </ion-content>
</ion-view>

