<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content class="scrollLogin">
    <h3 class="title">¡Bienvenido a Eye-bet!</h3>
    <img class="imgLogin" src="/images/icon.png" />
    <form class="form login" ng-submit="doLogin()">
      <div class="list inputLogin">
        <label class="item item-input">
          <!--<span class="input-label">Email</span>-->
          <input type="text" placeholder="Email" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <!--<span class="input-label">Password</span>-->
          <input type="password" placeholder="Contraseña" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <a class="recPass" ng-click="cambiarPassword()">He olvidado mi contraseña</a>

    <button class="registro" value="¿Aún no tienes cuenta?" ng-click="irA('registro')">¿Aún no tienes cuenta?</button>

  </ion-content>
</ion-modal-view>
