<ion-view>
  <ion-content>
    <h1 class="titulo">Ver tickets</h1>
    <ion-list id="contenedorEventos">
      <ion-item class="menuTickets" ng-repeat="ticket in tickets" ng-click="irADetalle(ticket._id)">
        <i class="cerrar fa fa-times fa-lg" ng-click="eliminarTicket(ticket)"></i>
        <div class="datosEstado">
          <span ng-if="ticket.estadoTicket==-1"><i class="fa fa-minus-circle encursoSel"></i></span>
          <span ng-if="ticket.estadoTicket==0"><i class="fa fa-times-circle falladoSel"></i></span>
          <span ng-if="ticket.estadoTicket==1"><i class="fa fa-check-circle acertadoSel"></i></span>
        </div>
        <div class="datosNombre">
          <span class="nombre">{{ticket.nombre}}</span>
          <span>{{formatearFecha(ticket.fecha)}}</span>
        </div>
        <div class="datosDinero">
          <div><span>{{ticket.importe | number:2 }} </span><img width="30px" src="../images/monedaPerdido.png" /></div>
          <div><span>{{ticket.premio | number:2}} </span><img width="30px" src="../images/monedaGanado.png" /></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
